@mixin fontStyle($fw, $fsz, $lh, $ls, $c) {
  font-weight: $fw;
  font-size: $fsz;
  line-height: $lh;
  letter-spacing: $ls;
  color: $c;
}
.basked{
  &_title{
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 120%;
    color: #111111;
    text-align: left;
    margin-bottom: 50px;
    margin-top: 50px;
  }
  &_button{
    width: 192px;
    height: 59px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 19px;
    gap: 12px;
    background: #FFC85E;
    border-radius: 79px;
    @include fontStyle(700, 14px, 150%, none, #FFFFFF);
    margin-top: 28px;
    margin-bottom: 20px;
  }
}