@mixin fontStyle($fw, $fsz, $lh, $ls, $c) {
  font-weight: $fw;
  font-size: $fsz;
  line-height: $lh;
  letter-spacing: $ls;
  color: $c;
}

.header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  min-height: 61px;
  align-items: center;

  &_columnLeft {
  }

  &_columnRight {
  }
}

.columnRight {
  &_actions {
    display: flex;
    flex-wrap: wrap;
    @include fontStyle(400, 14px, 150%, none, #3F4E65);
  }
}

.actions {
  &_item:not(:last-child) {
    margin: 0 60px 0 0;
  }
}

.columnLeft {
  display: flex;
  flex-wrap: wrap;

  &_item {
    display: flex;
    align-items: center;

    &:not(:last-child) {
      margin: 0 41px 0 0;
    }
  }
}

.item {
  &_icon {
    margin-right: 17px;
  }

  &_text {
    @include fontStyle(300, 14px, 150%, none, #3F4E65);
  }
}

.icon {
  &_1 {
  }

  &_2 {
    margin: 4px 0 1px -11.5px;
  }

  &_letter {
  }
}

@media (max-width: 992px) {
  .header {
    margin: 5px;
    height: auto;
  }
  .columnRight{
    &_actions{
      margin: 10px;
    }
  }
  .columnLeft{
    &_item{
      margin-bottom: 10px;
    }
  }
  .actions {
    &_item:not(:last-child) {
      margin: 0 20px 0 0;
    }
  }
}
