@mixin fontStyle($fw, $fsz, $lh, $ls, $c){
  font-weight: $fw;
  font-size: $fsz;
  line-height: $lh;
  letter-spacing: $ls;
  color: $c;
}
.main_h{
  display: flex;
}
.header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 61px;
  &_addressBlock{
    display: flex;
  }
  &_location{
    width: 13px;
    height: 16px;
  }
  &_location2{
    width: 5px;
    height: 5px;
  }
  &_column{
    @include fontStyle(400, 14px, 18px, none, #3F4E65);
  }
  &_column:not(:last-child) {
    margin: 0 75px 0 0;
  }
  &_text{
    font-weight: 600;
  }
  &_categories {
    display: flex;
    flex-wrap: wrap;
    padding: 5px 0;
    margin: 15px 0 0 0;
    @include fontStyle(400, 14px, 150%, none, #3F4E65);
  }
&_contacts{}
  &_iteam:not(:last-child) {
    margin: 0 60px 0 0;
  }
}
.contacts{
  &_email_h{
    @include fontStyle(600, 12px, 150%, none, #111111);
  }
  &_text_h{
    @include fontStyle(300, 12px, 150%, none, #3F4E65);
  }
}
.header_part {
  display: flex;
}
.left{
  margin: 15px 0 0 0;
}
.addressBlock{

  &_icon{
    margin-top: 8px;
    margin-right: 10px;
  }
}
.icon{
  &_location{}
  &_location2{
    margin: 4px 0 1px -11.5px;
  }
}
